{% extends "layout.html" %}

{% block content %}

<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin"><h3>Admin</h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/brands">Brands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/category">Categories</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Add Products
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{url_for('addproduct')}}">Add product</a></li>
              <li> <a class="dropdown-item" href="{{url_for('addbrand')}}">Add brand</a></li>
              <li><a class="dropdown-item" href="{{url_for('addcat')}}">Add category</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>

{% include '_messages.html' %}

<div class="container">
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2 class="text-center bg-info p-2 mt-2"> Add a Product</h2>
    {% from "_formhelpers.html" import render_field %}

    <form action="" method="POST" enctype="multipart/form-data">
      {{ render_field(form.name, class="form-control", placeholder = "Add Book Name")}}
      {{ render_field(form.price, class="form-control", placeholder = "Add Book Price")}}
      {{ render_field(form.discount, class="form-control", placeholder = "Add Book Discount")}}
      {{ render_field(form.stock, class="form-control", placeholder = "Add Book Stock")}}
     
      <label for="brand">Add a Brand</label>
      <select name="brand" id="brand" class="form-control">
        <option value=""> Select a Brand</option>
        {% for brand in brands %}
      <option value="{{ brand.id }}">{{brand.name}}</option>
       {% endfor %}
      </select>  
      
      <label for="category">Add a Category</label>
      <select name="category" id="category" class="form-control">
        <option value=""> Select a Category</option>
        {% for category in categories %}
      <option value="{{category.id}}">{{category.name}}</option>
       {% endfor %}
      </select>
      
      

      {{ render_field(form.colors, class="form-control", placeholder = "Add Book Type")}}
      {{ render_field(form.desc, class="form-control", placeholder = "Add Book details",rows="10")}}

      <div class="container">
        <div class="row">
          <div class="col-md-4">{{ render_field(form.image_1,class="form-control",required=True) }}</div>
          <div class="col-md-4">{{render_field(form.image_2,class="form-control",required=True)}}</div>
          <div class="col-md-4">{{render_field(form.image_3,class="form-control",required=True)}}</div>
        </div>
      </div>

    
    <button type="submit" class="btn btn-info mt-4">Add Book</button>

    </form>
  </div>
  <div class="col-md-2"></div>
</div>
</div>
{% endblock content %}