{% extends "layout.html" %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
  <div class="row">
    {% if brand %}
      {% for b in brand.items %}
      <div class="col-md-2 col-sm-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="{{url_for('static',filename='images/' + b.image_1)}}" alt="{{b.name}}" class="card-img-top" height="200">
          <div class="card-body position-relative">
            {% if b.discount > 0 %}
            <h5 class="text-white text-center position-absolute top-0 end-0 translate-middle-y" style="font-size:14px; text-shadow:1px 1px 2px #000; transform:rotate(-15deg); background-color:rgba(160, 3, 3, 0.79); padding:2px 5px;">{{b.discount}}% off</h5>
            {% endif %}
            <h5 class="card-title text-center">{{ b.name }}</h5>
            <p class="card-text text-center">Price ₹ {{ b.price }}</p>
          </div>
          <div class="card-footer d-flex justify-content-between align-items-center">
            <a href="{{url_for('single_page', id=b.id)}}" class="btn btn-primary btn-sm">Details</a>
            <form action="{{url_for('AddCart')}}" method="post" class="d-inline">
              <input type="hidden" name="product_id" value="{{b.id}}">
              <button type="submit" class="btn btn-warning btn-sm">Add to Cart</button>
              <input type="hidden" name="quantity" value="1">
              {% set colors = b.colors.split(',') %}
              <select name="colors" class="d-none">
                {% for color in colors %}
                {% set col=color.split(':') %}
                <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                {% endfor %}
              </select>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col text-center">
        {% if brand.has_prev %}
        <a href="{{url_for('get_brand', id=get_b.id, page=brand.prev_num)}}" class="btn btn-info btn-sm me-2">Previous</a>
        {% endif %}
        {% if brand.total > 8 %}
          {% for page_num in brand.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
            {% if page_num %}
              {% if brand.page == page_num %}
              <a href="{{url_for('get_brand', id=get_b.id, page=page_num)}}" class="btn btn-info btn-sm me-2">{{page_num}}</a>
              {% else %}
              <a href="{{url_for('get_brand', id=get_b.id, page=page_num)}}" class="btn btn-outline-info btn-sm me-2">{{page_num}}</a>
              {% endif %}
            {% else %}
            <span class="btn btn-outline-info btn-sm me-2">...</span>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if brand.has_next %}
        <a href="{{url_for('get_brand', id=get_b.id, page=brand.next_num)}}" class="btn btn-info btn-sm ms-2">Next</a>
        {% endif %}
      </div>
    </div>

    <div class="row">
      {% elif get_cat_prod %}
        {% for get_cat in get_cat_prod.items %}
        <div class="col-md-2 col-sm-4 mb-4">
          <div class="card h-100 shadow-sm">
            <img src="{{url_for('static',filename='images/' + get_cat.image_1)}}" alt="{{get_cat.name}}" class="card-img-top" height="200">
            <div class="card-body position-relative">
              {% if get_cat.discount > 0 %}
              <h5 class="text-white text-center position-absolute top-0 end-0 translate-middle-y" style="font-size:14px; text-shadow:1px 1px 2px #000; transform:rotate(-15deg); background-color:rgba(160, 3, 3, 0.79); padding:2px 5px;">{{get_cat.discount}}% off</h5> {% endif %}
              <h5 class="card-title text-center">{{ get_cat.name }}</h5>
              <p class="card-text text-center">Price ₹ {{ get_cat.price }}</p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
              <a href="{{url_for('single_page', id=get_cat.id)}}" class="btn btn-primary btn-sm">Details</a>
              <form action="{{url_for('AddCart')}}" method="post" class="d-inline">
                <input type="hidden" name="product_id" value="{{get_cat.id}}">
                <button type="submit" class="btn btn-warning btn-sm">Add to Cart</button>
                <input type="hidden" name="quantity" value="1">
                {% set colors = get_cat.colors.split(',') %}
                <select name="colors" class="d-none">
                  {% for color in colors %}
                  {% set col=color.split(':') %}
                  <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                  {% endfor %}
                </select>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="row">
        <div class="col text-center">
          {% if get_cat_prod.has_prev %}
          <a href="{{url_for('get_category', id=get_cat.id, page=get_cat_prod.prev_num)}}" class="btn btn-info btn-sm me-2">Previous</a>
          {% endif %}
          {% if get_cat_prod.total > 8 %}
            {% for page_num in get_cat_prod.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
              {% if page_num %}
                {% if get_cat_prod.page == page_num %}
                <a href="{{url_for('get_category', id=get_cat.id, page=page_num)}}" class="btn btn-info btn-sm me-2">{{page_num}}</a>
                {% else %}
                <a href="{{url_for('get_category', id=get_cat.id, page=page_num)}}" class="btn btn-outline-info btn-sm me-2">{{page_num}}</a>
                {% endif %}
              {% else %}
              <span class="btn btn-outline-info btn-sm me-2">...</span>
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if get_cat_prod.has_next %}
          <a href="{{url_for('get_category', id=get_cat.id, page=get_cat_prod.next_num)}}" class="btn btn-info btn-sm ms-2">Next</a>
          {% endif %}
        </div>
      </div>

      <div class="row">
        {% else %}
        {% for product in products.items %}
        <div class="col-md-2 col-sm-4 mb-4">
          <div class="card h-100 shadow-sm">
            <img src="{{url_for('static',filename='images/' + product.image_1)}}" alt="{{product.name}}" class="card-img-top" height="200">
            <div class="card-body position-relative">
              {% if product.discount > 0 %}
              <h5 class="text-white text-center position-absolute top-0 end-0 translate-middle-y" style="font-size:14px; text-shadow:1px 1px 2px #000; transform:rotate(-15deg); background-color:rgba(160, 3, 3, 0.79); padding:2px 5px;">{{product.discount}}% off</h5>{% endif %}
              <h5 class="card-title text-center">{{ product.name }}</h5>
              <p class="card-text text-center">Price ₹ {{ product.price }}</p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
              <a href="{{url_for('single_page', id=product.id)}}" class="btn btn-primary btn-sm">Details</a>
              <form action="{{url_for('AddCart')}}" method="post" class="d-inline">
                <input type="hidden" name="product_id" value="{{product.id}}">
                <button type="submit" class="btn btn-warning btn-sm">Add to Cart</button>
                <input type="hidden" name="quantity" value="1">
                {% set colors = product.colors.split(',') %}
                <select name="colors" class="d-none">
                  {% for color in colors %}
                  {% set col=color.split(':') %}
                  <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                  {% endfor %}
                </select>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col text-center">
          {% if products.has_prev %}
          <a href="{{url_for('home', page=products.prev_num)}}" class="btn btn-outline-info btn-sm me-2">Previous</a>
          {% endif %}
          {% if products.total > 8 %}
            {% for page_num in products.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
              {% if page_num %}
                {% if products.page == page_num %}
                <a href="{{url_for('home', page=page_num)}}" class="btn btn-info btn-sm me-2">{{page_num}}</a>
                {% else %}
                <a href="{{url_for('home', page=page_num)}}" class="btn btn-outline-info btn-sm me-2">{{page_num}}</a>
                {% endif %}
              {% else %}
              <span class="btn btn-outline-info btn-sm me-2">...</span>
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if products.has_next %}
          <a href="{{url_for('home', page=products.next_num)}}" class="btn btn-outline-info btn-sm ms-2">Next</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
