{% extends "layout.html" %}

{% block content %}

<!-- navbar starts -->
<div class="container">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link" href="/">All Products</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Brands
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for brand in barnds %}
            <a class="dropdown-item" href="{{url_for('get_brand',id=brand.id)}}">{{brand.name}}</a>
            {% endfor %}
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for category in categories %}
            <a class="dropdown-item" href="{{url_for('get_category',id=category.id)}}">{{category.name}}</a>
            {% endfor %}
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</div>

<!-- navbar end -->
<div class="container">
  <div class="row">


{% if brand %}
{% for b in brand.items %}
<div class="col-md-3 mt-3">
  <div class="card">
    <img src="{{url_for('static',filename = 'images/' + b.image_1)}}" alt="{{b.name}}" class="card-img-top" height="200">
    <div class="card-body">
      {% if b.discount > 0 %}
      <h5 style ="text-shadow:1px 1px 2px #000;color: #F00; transform:rotate(-15deg); position:absolute;top: 20%;left: 20%;">Discount {{b.discount}}%</h5>
      {% endif %}
      <h5 class="text-center">{{ b.name }}</h5>
      <p class="text-center">Price Rs.{{ b.price }}</p>
    </div>
    <div class="card-footer">
      <a href="#" class="float-left btn btn-sm btn-primary">Details</a>
      <a href="#" class="float-right btn btn-sm btn-warning">Add to Cart</a>
    </div>
  </div>
</div>
{% endfor %}
</div>


<div class="row">
  <div class="col text-center">
    {% if brand.has_prev %}
    <a href="{{url_for('get_category',id=get_cat.id, page= brand.prev_num)}}" class="btn btn-sm btn-info mt-3">Previous
    </a>
    {% endif %}
    {% if brand.total>8 %}

    {% for page_num in  brand.iter_pages(left_edge=1,right_edge=2, left_current=1,right_current=2) %}
    {% if page_num %}
    {% if  brand.page == page_num %}
    <a href="{{url_for('get_brand',id=get_b.id ,page=page_num)}}" class="btn btn-sm btn-info mt-3">{{page_num}}
    </a>
    {% else %}
      <a href="{{url_for('get_brand',id=get_b.id ,page=page_num)}}" class="btn btn-sm btn-outline-info mt-3">{{page_num}}
      </a>
      {% endif %}
      {% else %}
      ...
      {% endif %}
        {% endfor %}
        {% endif %}

        {% if  brand.has_next %}
        <a href="{{url_for('get_brand',id=get_b.id ,page=brand.next_num)}}" class="btn btn-sm btn-info mt-3">Next
        </a>
        {% endif %}

  
  </div>


<div class="row">
{% elif get_cat_prod  %}
{% for get_cat in get_cat_prod.items %}
<div class="col-md-3 mt-3">
  <div class="card">
    <img src="{{url_for('static',filename = 'images/' + get_cat.image_1)}}" alt="{{get_cat.name}}" class="card-img-top" height="200">
    <div class="card-body">
      {% if get_cat.discount > 0 %}
      <h5 style ="text-shadow:1px 1px 2px #000;color: #F00; transform:rotate(-15deg); position:absolute;top: 20%;left: 20%;">Discount {{get_cat.discount}}%</h5>
      {% endif %}
      <h5 class="text-center">{{ get_cat.name }}</h5>
      <p class="text-center">Price Rs.{{ get_cat.price }}</p>
    </div>
    <div class="card-footer">
      <a href="#" class="float-left btn btn-sm btn-primary">Details</a>
      <a href="#" class="float-right btn btn-sm btn-warning">Add to Cart</a>
    </div>
  </div>
</div>

{% endfor %}
</div>
<div class="row">
  <div class="col text-center">
    {% if get_cat_prod.has_prev %}
    <a href="{{url_for('get_category',id=get_cat.id, page=get_cat_prod.prev_num)}}" class="btn btn-sm btn-info mt-3">Previous
    </a>
    {% endif %}

    {% if get_cat_prod.total>8 %}
    {% for page_num in get_cat_prod.iter_pages(left_edge=1,right_edge=2, left_current=1,right_current=2) %}
    {% if page_num %}
    {% if get_cat_prod.page == page_num %}
    <a href="{{url_for('get_category',id=get_cat.id ,page=page_num)}}" class="btn btn-sm btn-info mt-3">{{page_num}}
    </a>
    {% else %}
      <a href="{{url_for('get_category',id=get_cat.id ,page=page_num)}}" class="btn btn-sm btn-outline-info mt-3">{{page_num}}
      </a>
      {% endif %}
      {% else %}
      ...
      {% endif %}
        {% endfor %}
        {% endif %}

        {% if get_cat_prod.has_next %}
        <a href="{{url_for('get_category',id=get_cat.id ,page=get_cat_prod.next_num)}}" class="btn btn-sm btn-info mt-3">Next
        </a>
        {% endif %}

  
  </div>
 
<div class="row">
{% else %}
    {% for product in products.items %}
  
    <div class="col-md-3 mt-3">
      <div class="card">
        <img src="{{url_for('static',filename = 'images/' + product.image_1)}}" alt="{{product.name}}" class="card-img-top" height="200">
        <div class="card-body">
          {% if product.discount > 0 %}
          <h5 style ="text-shadow:1px 1px 2px #000;color: #F00; transform:rotate(-15deg); position:absolute;top: 20%;left: 20%;">Discount {{product.discount}}%</h5>
          {% endif %}
          <h5 class="text-center">{{ product.name }}</h5>
          <p class="text-center">Price Rs.{{ product.price }}</p>
        </div>
        <div class="card-footer">
          <a href="#" class="float-left btn btn-sm btn-primary">Details</a>
          <a href="#" class="float-right btn btn-sm btn-warning">Add to Cart</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col text-center">
      {% if products.has_prev %}
      <a href="{{url_for('home',page=products.prev_num)}}" class="btn btn-sm btn-info mt-3">Previous
      </a>
      {% endif %}
      {% if products.total>8 %}

      {% for page_num in products.iter_pages(left_edge=1,right_edge=2, left_current=1,right_current=2) %}
      {% if page_num %}
      {% if products.page == page_num %}
      <a href="{{url_for('home',page=page_num)}}" class="btn btn-sm btn-info mt-3">{{page_num}}
      </a>
      {% else %}
        <a href="{{url_for('home',page=page_num)}}" class="btn btn-sm btn-outline-info mt-3">{{page_num}}
        </a>
        {% endif %}
        {% else %}
        ...
        {% endif %}
          {% endfor %}
          {% endif %}

          {% if products.has_next %}
          <a href="{{url_for('home',page=products.next_num)}}" class="btn btn-sm btn-info mt-3">Next
          </a>
          {% endif %}

    
    </div>
    {% endif %}
    
  </div>
    
  </div>
</div>



{% endblock content %}