{% extends 'layout.html' %}
{% block content %}


{% include '_messages.html' %}

<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin">Admin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/admin">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/brands">Brands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/category">Categories</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>

<div class="container mt-5">
  <table class="table table-sa table-condensed table-striped table-hover">
    <thead>
      <th>Sr.No</th>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      {% if brands %}
      {% for brand in brands %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{brand.name}}</td>
        <td><a href="{{url_for('updatebrand',id=brand.id)}}" class = "btn btn-sm btn-outline-info">Edit</a></td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-{{brand.id}}">
            Delete
          </button>
          
          <!-- <a href="#" class = "btn btn-sm btn-outline-danger">Delete</a> -->
        </td>
      </tr>
      <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal-{{brand.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{brand.id}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span class="text-danger" >Are you sure that you want to delete this brand "{{brand.name}}"</span>     
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning btn-sm" data-bs-dismiss="modal">Cancel</button>
        <form action="{{url_for('deletebrand',id=brand.id)}}" method="POST">
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
     
        </form>
        </div>
    </div>
  </div>
</div>



      {% endfor %}
      {% else %}


      {% for category in categories %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{category.name}}</td>
        <td><a href="{{url_for('updatecat',id=category.id)}}" class = "btn btn-sm btn-outline-info">Edit</a></td>
        <td>
          <!-- <a href="" class = "btn btn-sm btn-outline-danger">Delete</a> -->
          <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-{{category.id}}">
            Delete
          </button>
        </td>
        <!-- Modal -->
<div class="modal fade" id="exampleModal-{{category.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{category.id}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span class="text-danger" >Are you sure that you want to delete this category "{{category.name}}"</span>     
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning btn-sm" data-bs-dismiss="modal">Cancel</button>
        <form action="{{url_for('deletecategory',id=category.id)}}" method="POST">
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
     
        </form>
        </div>
    </div>
  </div>
</div>

      
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock content %}